In [103]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [104]:
data = pd.read_csv('MICRODADOS_ENADE_2017.txt', sep=";")
data.info()

/Users/joaooliveira/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (29,31,32,44,45,46,47,54,55,56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537436 entries, 0 to 537435
Columns: 150 entries, NU_ANO to QE_I81
dtypes: float64(67), int64(21), object(62)
memory usage: 615.0+ MB

In [105]:
data.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
print("Original: 2017",len(data))

data = data[(data["CO_GRUPO"] == 4004) & # Ciência Da Computação Bacharelado
            (data["TP_PRES"] == 555)].copy()

print("Filtrados: ",len(data))

Original: 2017 537436
Filtrados:  8491

In [107]:
data["CO_CATEGAD"] = data["CO_CATEGAD"].replace({1: 'Pub',\
                                                 2: 'Pub',\
                                                 3: 'Pub',\
                                                 4: 'Pri',\
                                                 5: 'Pri',\
                                                 7: 'Pri'}).copy()

data["CO_REGIAO_CURSO"] = data["CO_REGIAO_CURSO"].replace({1: 'Norte',\
                                                           2: 'Nordeste',\
                                                           3: 'Sudeste',\
                                                           4: 'Sul',\
                                                           5: 'Centro-Oeste'}).copy()

In [108]:
print ("2017_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())
data.groupby(["CO_REGIAO_CURSO","CO_CATEGAD"]).size()

2017_Tamanho:  8491

CO_REGIAO_CURSO  CO_CATEGAD
Centro-Oeste     Pri            326
                 Pub            295
Nordeste         Pri            612
                 Pub           1030
Norte            Pri            223
                 Pub            192
Sudeste          Pri           2663
                 Pub           1555
Sul              Pri            816
                 Pub            779
dtype: int64

In [109]:
print ("2017_Tamanho: ", data.groupby("CO_REGIAO_CURSO").size().sum())

print ("#Sexo::: M: {} - F:{}".format(data.groupby("TP_SEXO").size().to_list()[1],\
                                  data.groupby("TP_SEXO").size().to_list()[0]))

2017_Tamanho:  8491
#Sexo::: M: 7468 - F:1023

In [110]:
'''

Questões

1 - Algoritmos, Estrutura de Dados e Programação; 
2 - Arquitetura de Computadores e Circuitos Digitais; 
3 - Banco de Dados; 
4 - Computação Gráfica e Processamento de Imagem; 
5 - Engenharia de Software; 
6 - Ética, Computador e Sociedade; 
7 - Inteligência Artificial; 
8 - Linguagens Formais e Autômatos, Compiladores e Computabilidade; 
9 - Lógica Matemática, Matemática Discreta, Estatística e Grafos; 
10 - Redes de Computadores, Sistemas Distribuídos e Telecomunicações; 
11 - Sistemas Operacionais.

coluna = DS_VT_ACE_OCE com questoes
'''

'\n\nQuestões\n\n1 - Algoritmos, Estrutura de Dados e Programação; \n2 - Arquitetura de Computadores e Circuitos Digitais; \n3 - Banco de Dados; \n4 - Computação Gráfica e Processamento de Imagem; \n5 - Engenharia de Software; \n6 - Ética, Computador e Sociedade; \n7 - Inteligência Artificial; \n8 - Linguagens Formais e Autômatos, Compiladores e Computabilidade; \n9 - Lógica Matemática, Matemática Discreta, Estatística e Grafos; \n10 - Redes de Computadores, Sistemas Distribuídos e Telecomunicações; \n11 - Sistemas Operacionais.\n\ncoluna = DS_VT_ACE_OCE com questoes\n'

In [112]:
data.dropna(subset=["DS_VT_ACE_OCE"], inplace=True)
data.reset_index(inplace=True)

In [125]:
#vetores de novas colunas correspondentes aos temas

AEDP = []   # Algoritmos, Estrutura de Dados e Programação                     - 0,2,9,13,22,24,26
LMMDEG = [] # Lógica Matemática, Matemática Discreta, Estatística e Grafos;    - 5,15
LFACC = []  # Linguagens Formais e Autômatos, Compiladores e Computabilidade;  - 14,21
RCSDT = []  # Redes de Computadores, Sistemas Distribuídos e Telecomunicações; - 6,11 
ES = []     # Engenharia de Software;                                          - 1,19
BD = []     # Banco de Dados;                                                  - 10,25
IA = []     # Inteligência Artificial;                                         - 8,23
SO = []     # Sistemas Operacionais;                                           - 20
ACCD = []   # Arquitetura de Computadores e Circuitos Digitais;                - 3,4
CGPI = []   # Computação Gráfica e Processamento de Imagem;                    - 18
ECS = []    # Ética, Computador e Sociedade;                                   - 7

tempAEDP, tempLMMDEG, tempLFACC, tempRCSDT, tempES, tempBD, tempIA, tempSO, tempACCD, tempCGPI, tempECS =\
0,0,0,0,0,0,0,0,0,0,0

# anuladas 12, 16, 17

def SwitchTheme(argument):
    themes = {
        0: "AEDP",
        1: "ES",
        2: "AEDP",
        3: "ACCD",
        4: "ACCD",
        5: "LMMDEG",
        6: "RCSDT",
        7: "ECS",
        8: "IA",
        9: "AEDP",
        10: "BD",
        11: "RCSD",
        12: "LMMDEG",
        13: "AEDP",
        14: "LFACC",
        15: "LMMDEG",
        16: "AEDP",
        17: "CGPI",
        18: "CGPI",
        19: "ES",
        20: "SO",
        21: "LFACC",
        22: "AEDP",
        23: "IA",
        24: "AEDP",
        25: "BD",
        26: "AEDP"
    }
    return themes.get(argument, "nothing")


for vector in data.itertuples():
    temp_vector = vector.DS_VT_ACE_OCE

    for index, value in enumerate(temp_vector):
        theme = SwitchTheme(int(index))
        
        if (theme == "AEDP" and value=="1"):
            tempAEDP +=1
        if (theme == "LMMDEG" and value=="1"):
            tempLMMDEG +=1
        if (theme == "LFACC" and value=="1"):
            tempLFACC +=1
        if (theme == "RCSDT" and value=="1"):
            tempRCSDT +=1
        if (theme == "ES" and value=="1"):
            tempES +=1
        if (theme == "BD" and value=="1"):
            tempBD +=1
        if (theme == "IA" and value=="1"):
            tempIA +=1
        if (theme == "SO" and value=="1"):
            tempSO +=1
        if (theme == "ACCD" and value=="1"):
            tempACCD +=1
        if (theme == "CGPI" and value=="1"):
            tempCGPI +=1
        if (theme == "ECS" and value=="1"):
            tempECS +=1
    AEDP.append(tempAEDP)
    LMMDEG.append(tempLMMDEG)
    LFACC.append(tempLFACC)
    RCSDT.append(tempRCSDT)
    ES.append(tempES)
    BD.append(tempBD)
    IA.append(tempIA)
    SO.append(tempSO)
    ACCD.append(tempACCD)
    CGPI.append(tempCGPI)
    ECS.append(tempECS)
    
    #reset variaveis
    tempAEDP, tempLMMDEG, tempLFACC, tempRCSDT, tempES, tempBD, tempIA, tempSO, tempACCD, tempCGPI, tempECS =\
0,0,0,0,0,0,0,0,0,0,0

    
dataQuest = pd.DataFrame({"AEDP": AEDP,
                          "LMMDEG": LMMDEG,
                          "LFACC": LMMDEG,
                          "RCSDT": RCSDT,
                          "ES": ES,
                          "BD": BD,
                          "IA": IA,
                          "SO": SO,
                          "ACCD": ACCD,
                          "CGPI": CGPI,
                          "ECS": ECS})
    
data = pd.concat([data, dataQuest], axis=1)

      AEDP  AEDP  LMMDEG  LMMDEG
0        4     4       2       2
1        4     4       0       0
2        3     3       0       0
3        3     3       1       1
4        3     3       1       1
...    ...   ...     ...     ...
8484     2     2       1       1
8485     1     1       1       1
8486     2     2       0       0
8487     1     1       0       0
8488     1     1       1       1

[8489 rows x 4 columns]

In [141]:
data["Total_acertos"] = data.iloc[:, -11:].sum(axis=1)

In [178]:
print ("AEDP",   round(data["AEDP"].sum(axis=0)[0]/(8489*7)*100))
print ("LMMDEG", round(data["LMMDEG"].sum(axis=0)[0]/(8489*2)*100))
print ("LFACC",  round(data["LFACC"].sum(axis=0)[0]/(8489*2)*100))
print ("RCSDT",  round(data["RCSDT"].sum(axis=0)[0]/(8489*2)*100))
print ("ES",     round(data["ES"].sum(axis=0)[0]/(8489*2)*100))
print ("BD",     round(data["BD"].sum(axis=0)[0]/(8489*2)*100))
print ("IA",     round(data["IA"].sum(axis=0)[0]/(8489*2)*100))
print ("SO",     round(data["SO"].sum(axis=0)[0]/(8489)*100))
print ("ACCD",   round(data["ACCD"].sum(axis=0)[0]/(8489*2)*100))
print ("CGPI",   round(data["CGPI"].sum(axis=0)[0]/(8489)*100))
print ("ECS",    round(data["ECS"].sum(axis=0)[0]/(8489)*100))

AEDP 39.0
LMMDEG 36.0
LFACC 36.0
RCSDT 13.0
ES 41.0
BD 40.0
IA 59.0
SO 26.0
ACCD 52.0
CGPI 35.0
ECS 66.0